.header {
    background-color: #C4C4C4;

}
.header_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #C4C4C4;
}

.banner {
    background: url('/assets/banner.png') center no-repeat;
    background-size: cover;
	max-width: 100%;
}


.box {
    font-family: 'Roboto', sans-serif;
    

}

.aboutUs {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}
.about_us {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}

.recycle {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.recycle__picture{
    min-height: 100%;
    max-width: 45%;
    background-color: #C4C4C4;
    border-radius: 15px;
}

.reasons {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    
    

}

.reasons__picture{
    min-height: 90%;
    max-width: 45%;
    background-color: #C4C4C4;
    border-radius: 15px;
}

.reasons__text {
    min-height: 90%;
    max-width: 45%;
    padding-top: 20px;
    background-color: #C4C4C4;
    color: white;
    font-size: 22px;
    border-radius: 15px;


}


.profit {
    background-color: #C4C4C4; 
    color: white;
    font-size: 26px;
    text-align: center;
    min-height: 200px;
    max-width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}

.footer {
    display: flex;
    justify-content: space-between;
}
.footer a { 
    text-decoration: none;
    font-weight: 600px;
    font-size: 16px;
    line-height: 22px;
}
.footer-group__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}
.footer-group {
    max-width: 655px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    gap: 50px;
}
.footer span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

footer-group____call, footer-group____request, footer-group____social {
    margin: auto 1px;
}
footer-group____call {
    max-width: 141px;
}
footer-group____request {
    max-width: 163px;
}